<div class="w-80 bg-slate-50 border-black border dark:bg-slate-800 rounded-lg p-6 relative">
  <p class="font-bold mt-2 sm:mt-0"><%= proyect.name %></p>
  <div class="absolute top-0 right-0 p-1">
    <time class="truncate "data-controller="timeago" datetime="<%= proyect.start_time %>">
    </time>
  </div>
  <div class="relative flex py-1 items-center">
    <div class="flex-grow border-t border-gray-400"></div>
    <span class="flex-shrink mx-4 text-gray-400"><%= t('description') %></span>
    <div class="flex-grow border-t border-gray-400"></div>
  </div>
  <div>
    <p><%= helpers.truncate(proyect.short_description, 100) %></p>
  </div>
  <div class="relative flex py-1 items-center">
    <div class="flex-grow border-t border-gray-400"></div>
    <span class="flex-shrink mx-4 text-gray-400"><%= t('information') %></span>
    <div class="flex-grow border-t border-gray-400"></div>
  </div>
  <div class="flex gap-2">
    <p><%= helpers.heroicon('clock', options: {class: 'h-6'}) %></p>
    <p><%= pluralize(proyect.time_to_read, t('minute')) %> <%= t('read') %></p>
  </div>
  <div class="mt-4 transform hover:-translate-y-1 transition duration-200">
    <%= link_to t('coming_soon'), nil, class: "p-2 text-black font-bold bg-gray-200 rounded-lg ", data: {"turbo-frame": "_top"} %>
  </div>
</div>
